@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared/Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    margin: 0 auto;
    max-width: 1140px;

}

.font-azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;

    opacity: 0.7;
}

.btn-primary{
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 24px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: transparent;

}

.btn-secondary{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    padding: 17px 24px;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    background-color: transparent;

}

/* Header>Nav>Banner */
header{
    margin-bottom: 120px;
}

nav{
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(13, 19, 33, 0.02);
}

.nav-logo{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
}

nav .btn-primary a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}


/* Hero/Banner Section */

.hero{
    margin: 0 auto;
    background: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-container{
    margin: 0 auto;
    max-width: 998px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 26px 0px 45px 0px ;

    text-align: center;
    
}

.hero-container img, .description{
    margin-bottom: 32px;
}

.hero-container .section-title{
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 68px;
    word-spacing: 5px;
}

.hero-container .btn-primary{
    background-color: rgb(13, 19, 33);
    opacity: 1;

}
.hero-container .btn-primary a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    opacity: 1;

}

/* Why Web Development Section */


.why-web-development-content{
    margin: 0 auto;
    padding: 80px 97px;
    background-color: rgb(13, 19, 33, 0.02);
}

.why-web-development .section-title{
    margin-bottom: 24px;
}

.why-web-development .description{
    margin-bottom: 48px;
    text-align: center;
}

.why-card-container{
    padding: 48px;
    border-radius: 16px;
    margin-bottom: 32px;

    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.why-card,
.why-card2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 98px;
    max-width: 850px;
    height: 240px;
    text-align: left;
    
}

.why-card2{
    gap: 40px;
}


.why-card-text{
    text-align: left;
}

.why-card-title{
    color: rgb(13, 19, 33, 0.7);
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.why-card-text .description{
    text-align: left;
    margin-bottom: 32px;
}

.why-card-text .btn-secondary a{
    text-decoration: none;
    color: rgb(13, 19, 33, 0.7);
}

/* My Inspiration */

.my-inspiration{
    text-align: center;
}

.my-inspiration .section-title{
    margin-bottom: 24px;
}

.my-inspiration .description{
    margin-bottom: 48px;
}

.my-inspiration .video-container{
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.my-inspiration iframe{
    border-radius: 16px;
}

/* My-Current-Target */
.my-current-target{
    margin-top: 151px;

}

.my-current-target .section-title{
    margin: 0 auto;
    width: 70%;
    margin-bottom: 24px;
    text-align: center;
}

.my-current-target .description{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 48px;
    text-align: center;
}

.my-current-target-cards{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
}

.mct-card{
    max-width: 364px;
    padding: 40px;
    border-radius: 16px;
}

.html{
    background: rgba(255, 76, 30, 0.05);
}
.css{
    background: rgba(0, 76, 232, 0.05);
}

.js{
    background: rgba(255, 223, 0, 0.05);
}

.mct-card img{
    margin-bottom: 24px;
}

.mct-card .mct-card-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}

.mct-card .mct-card-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
}

.mct-card .mct-card-btn{
    border: none;
    background: transparent;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.mct-card .mct-card-btn a{
    
    color: rgb(13, 19, 33);
    text-decoration: none;
}

/* I need support */
.support{
    margin-top: 50px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    
    padding: 64px 48px;
    
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.support .section-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.support .description{
    margin: 0 auto;
    max-width: 75%;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.input-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.support input[type="text"],
input[type="submit"]{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 20px ;

    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}

.support input[type="submit"]{
    padding: 20px;
    width: 120px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* Footer Styles Added */


footer{
    background-color: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    padding: 32px 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer .section-title{

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

footer .social-icons{
    display: flex;
    align-items: center;
    gap: 24px
}

footer .social-icons li{
    list-style: none;
}

footer .social-icons a{
    text-decoration: none;
}


